<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="resources/css/style-index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <h4>APLICATIVO WEB PARA EVALUAR<br>LA MADUREZ DEL SOFTWARE</h4>
        <br>
        <P>Este es un aplicativo web  que permite evaluar la madurez de un proyecto<br>
        de software mediante la metodología SAMM</p>
         
    </div> 
   </div>
    <div class="pie">
        <p style="color: #000000; margin-left: 40px;">Aplicación web para evaluar la madurez del software desarrollado por estudiantes de la UNL</p>
    </div>

    <div class="contenedor2">
        
        <% if (login) { %>                
            <h2>Usuario conectado: <strong><%= name %></strong></h2>                        
            <a href="logout" class="a-logout">Logout</a>
        <% } else { %>
            <h3>Bienvenido, <strong><%= name %></strong></h3>   
            <a href="login" class="a-login">Ir a Login</a>
        <% } %>
    </div>
</body>
</html>