body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.card {
    background-color: #f9f9f9fd;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

h2 {
    color: #555;
}

p {
    color: #666;
}

.resultados {
    margin-top: 20px;
}

.resultados h3 {
    color: #444;
}

.resultados ul {
    list-style-type: none;
    padding: 0;
}

.resultados ul li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

.btn-volver {
    display: inline-block;
    transform: translate(180%);
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #356864;;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn-volver:hover {
    background-color: #9898a8;
}

h4 {
    text-align: right;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0px 4px 6px rgb(255, 255, 255);
    background-image: url('./backSAMM.jpg');
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
 background-color: #9898a8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}