* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff;
}
.contenedor {
    background: white;
    padding: 80px;
    border-radius: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    margin-bottom:330px; /* Lo mueve hacia arriba */

    width: 100vw;  /* Ocupa el 100% del ancho de la pantalla */
    box-sizing: border-box; 

    background-image: url('./backSAMM.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: auto;  

}

.cont {
    position: absolute;  /* Lo coloca en posición absoluta */
    top: 0;              /* En la parte superior */
    left: 300px;             /* En la parte izquierda */
    margin-top: 10px;    /* Margen superior */
    

}

.contenedor2 {
    position: absolute;  /* Lo coloca en posición absoluta */
    top: 0;              /* En la parte superior */
    left: 50%;            /* Lo posiciona al centro en el eje horizontal */
    transform: translateX(-50%);  /* Ajusta la posición horizontal para que quede centrado */
    margin-top: 450px;    /* Margen superior */
    text-align: center;   /* Centra el texto */
    
    display: flex;        /* Habilita Flexbox */
    flex-direction: column; /* Coloca los elementos de forma vertical */
    justify-content: center;  /* Centra los elementos en el eje vertical */
    align-items: center;      /* Centra los elementos en el eje horizontal */
    width: 80%;           /* Ajusta el ancho del contenedor (puedes modificarlo según tus necesidades) */
    box-sizing: border-box;  /* Asegura que el padding no afecte al ancho total */
}


p {
    color: #ffffff;
}





h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #000000;
}
h2 {
    font-size: 15px;
    margin-bottom: 5px;
    color: #383c41;
}
h3 {
    font-size: 15px;
    margin-bottom: 5px;
    color: #383c41;
}
h4 {
    font-size: 40px;
    line-height: 1.2;
    color: #ffffff;
}

.a-login, .a-logout {
    display: inline-block;
    padding: 12px 20px;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
}


.a-login {
    background: none;       /* Elimina el color de fondo */
    color: #356864;          /* Mantén el color del texto */
    border: 2px solid #356864;  /* Añade un borde de 2px de color rojo */
    padding: 10px 20px;      /* Añade espacio alrededor del texto (puedes ajustar los valores) */
    text-decoration: none;   /* Elimina el subrayado si es un enlace */
    border-radius: 5px;      /* Añade bordes redondeados (opcional) */
    transition: background-color 0.3s; /* Añade una transición suave para cambios de fondo */
}

.a-login:hover {
    background-color: #356864;  /* Cambia el fondo cuando se pase el ratón */
    color: white;               /* Cambia el color del texto a blanco */
}

.a-logout {
    background: none;       /* Elimina el color de fondo */
    color: #356864;          /* Mantén el color del texto */
    border: 2px solid #356864;  /* Añade un borde de 2px de color rojo */
    padding: 10px 20px;      /* Añade espacio alrededor del texto (puedes ajustar los valores) */
    text-decoration: none;   /* Elimina el subrayado si es un enlace */
    border-radius: 5px;      /* Añade bordes redondeados (opcional) */
    transition: background-color 0.3s; /* Añade una transición suave para cambios de fondo */
}
.a-logout:hover {
    background-color: #356864;  /* Cambia el fondo cuando se pase el ratón */
    color: white;               /* Cambia el color del texto a blanco */
}


.pie {
    position: fixed; /* Fija el pie en la parte inferior */
    bottom: 0;       /* Lo coloca en la parte inferior */
    left: 0;         /* Alinea el pie con el borde izquierdo */
    width: 100%;     /* Ocupa todo el ancho de la página */
    background-color: #66b7b8; /* Fondo oscuro para el pie */
    padding: 20px 0;  /* Aumenta el espaciado superior e inferior */
    font-size: 15px;  /* Aumenta el tamaño de la fuente */
    
}

