body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ceb83d54;
    align-items: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgb(142, 197, 204);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
 background-color: #3abecf;
}

.container {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 500px;
    height: 400px;
    box-shadow: 0 4px 9px rgba(153, 41, 41, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.login-section {
    background: #fff;
}
.register-section {
    background: linear-gradient(135deg, #9898a8, #3a5dcf);
    color: #fff;
    text-align: center;
}
.text-section {
    width: 50%;
}
.text-section h1 {
    font-size: 48px;
    color: #3a5dcf;
}
.text-section p {
    color: #666;
    font-size: 16px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    text-align: right;
    color: coral;
}


input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-login, .btn-save {
    background: #a0a9c9c5;
    color: #ffffff;
}
.btn-login:hover, .btn-save:hover {
    background: #58fd49f3;
}
.btn-register, .btn-cancel {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.btn-register:hover, .btn-cancel:hover {
    background: #ee5454;
    color: #fff;
}