body {
    font-family: Arial, sans-serif;
    background-color: #ceb83d54;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #3a5dcf;
}

.seccion {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h2 {
    color: #9898a8;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3a5dcf;
    color: white;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #3a5dcf;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2e4cad;
}

#dashboard {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#dashboard table {
    width: 100%;
    border-collapse: collapse;
}

#dashboard th, #dashboard td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#dashboard th {
    background-color: #3a5dcf;
}

h3 {
    text-align: right;
    color: coral;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgb(142, 197, 204);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
 background-color: #3abecf;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

#mensaje-madurez {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
    color: #333;
    margin-top: 10px;
}